global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
{% if haproxy_version == '1.4' %}
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
{% else %}
        timeout connect 5000
        timeout client 50000
        timeout server 50000
{% endif %}
{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

#############################################################################
# Openstack Dashboard - http(s)
#############################################################################
frontend http
  bind {{ haproxy_frontend_bind_address }}:80
  redirect scheme https if !{ ssl_fc }
  default_backend dashboard

frontend https
  bind {{ haproxy_frontend_bind_address }}:443 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  default_backend dashboard

backend dashboard
  balance source
  cookie SERVERID insert indirect nocache
  option  tcpka
  option  httpchk
  option  tcplog
  rspidel ^Set-cookie:\ IP=
  rsprep ^Location:\ http:(.*) Location:\ https:\1
{% for hosts in haproxy_backend_servers %}
  server {{ hostvars[hosts]['ansible_hostname'] }} {{ hostvars[hosts]['ansible_default_ipv4']['address'] }}:80 cookie {{ hostvars[hosts]['ansible_hostname'] }} check inter 2000 rise 2 fall 5
{% endfor %}

#############################################################################
# Keystone
#############################################################################
frontend keystone_api
  bind {{ haproxy_frontend_bind_address }}:5000 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  default_backend keystone_api_back

backend keystone_api_back
  balance source
  option  tcpka
  option  httpchk
  option  tcplog
{% for hosts in haproxy_backend_servers %}
  server {{ hostvars[hosts]['ansible_hostname'] }} {{ hostvars[hosts]['ansible_default_ipv4']['address'] }}:5000 cookie {{ hostvars[hosts]['ansible_hostname'] }} check inter 2000 rise 2 fall 5
{% endfor %}

#############################################################################
# Glance: API
#############################################################################
frontend glance-api
  option logasap
  bind {{ haproxy_frontend_bind_address }}:9292 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  default_backend glance-api_back

backend glance-api_back
  balance source
{% for hosts in haproxy_backend_servers %}
  server {{ hostvars[hosts]['ansible_hostname'] }} {{ hostvars[hosts]['ansible_default_ipv4']['address'] }}:9292 cookie {{ hostvars[hosts]['ansible_hostname'] }} check inter 2000 rise 2 fall 5
{% endfor %}

#############################################################################
# Cinder: API
#############################################################################
frontend cinder-api
  option logasap
  bind {{ haproxy_frontend_bind_address }}:8776 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  default_backend cinder-api_back

backend cinder-api_back
  balance source
  option  tcpka
  option  httpchk
  option  tcplog
{% for hosts in haproxy_backend_servers %}
  server {{ hostvars[hosts]['ansible_hostname'] }} {{ hostvars[hosts]['ansible_default_ipv4']['address'] }}:8776 cookie {{ hostvars[hosts]['ansible_hostname'] }} check inter 2000 rise 2 fall 5
{% endfor %}

