global
  log         127.0.0.1 local2
  maxconn     4000
  tune.ssl.cachesize 1000000
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
  crt-base {{ host_cert }}
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  tune.ssl.default-dh-param 2048

defaults
  log	global
  log-format {"type":"haproxy","timestamp":%Ts,"http_status":%ST,"http_request":"%r","remote_addr":"%ci","bytes_read":%B,"upstream_addr":"%si","backend_name":"%b","retries":%rc,"bytes_uploaded":%U,"upstream_response_time":"%Tr","upstream_connect_time":"%Tc","session_duration":"%Tt","termination_state":"%ts"}
  mode	http
  option	httplog
  option	dontlognull
  option forwardfor
  option http-server-close
  timeout connect 5000
  timeout client  50000
  timeout server  50000
{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

#############################################################################
# Openstack Dashboard - http(s)
#############################################################################
frontend http
  bind {{ haproxy_frontend_bind_address }}:80
  redirect scheme https if !{ ssl_fc }
  default_backend dashboard

frontend https
  bind {{ haproxy_frontend_bind_address }}:443 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  default_backend dashboard

backend dashboard
  balance source
  cookie SERVERID insert indirect nocache
  option  tcpka
  option  httpchk
  option  tcplog
  rspidel ^Set-cookie:\ IP=
  rsprep ^Location:\ http:(.*) Location:\ https:\1
  server apache {{ controller_priv_ip }}:80 cookie apache check inter 2000 rise 2 fall 5

#############################################################################
# Keystone
#############################################################################
frontend keystone_api
  bind {{ haproxy_frontend_bind_address }}:5000 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  default_backend keystone_api_back

backend keystone_api_back
  balance source
  option  tcpka
  option  httpchk
  option  tcplog
  server keystone {{ controller_priv_ip }}:5000 check inter 2000 rise 2 fall 5

#############################################################################
# Glance: API
#############################################################################
frontend glance-api
  option logasap
  bind {{ haproxy_frontend_bind_address }}:9292 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  default_backend glance-api_back

backend glance-api_back
  balance source
  server glance {{ controller_priv_ip }}:9292 check inter 2000 rise 2 fall 5

#############################################################################
# Cinder: API
#############################################################################
frontend cinder-api
  option logasap
  bind {{ haproxy_frontend_bind_address }}:8776 ssl crt {{ host_cert }}
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  default_backend cinder-api_back

backend cinder-api_back
  balance source
  option  tcpka
  option  httpchk
  option  tcplog
  server cinder {{ controller_priv_ip }}:8776 check inter 2000 rise 2 fall 5

